.card{
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    border: 3px;
    background-color: rgb(5, 118, 146);
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: antiquewhite;
    text-align: center;
    font-size: small;
}