.form{
   display: flex;
   flex-direction: column;

     
}

.button{
    margin-bottom: 20px;
    background-color: aqua;
    color: aliceblue;
    font-size: 20px;
    
}

.input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error{
    color: red;
}